<h1>Editing speciality</h1>

<%= render "form", speciality: @speciality %>

<br>

<div>
  <%= link_to "Show this speciality", @speciality %> |
  <%= link_to "Back to specialities", specialities_path %>
</div>
