<div id="<%= dom_id card %>">
  <p>
    <strong>Street:</strong>
    <%= card.street %>
  </p>

  <p>
    <strong>Dateb:</strong>
    <%= card.dateB %>
  </p>

  <p>
    <strong>Hospital:</strong>
    <%= card.hospital_id %>
  </p>

</div>
